  <!--<nav>
    <div class="guide_nav">
      <a routerLink='/home' class="brand-logo right">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li routerLinkActive='active'><a routerLink='/home'>home</a></li>
        <li routerLinkActive='active'><a routerLink='/pages'>pages all</a></li>
        <li routerLinkActive='active'><a routerLink='/about'>about us</a></li>
      </ul>
    </div>
  </nav>
        -->
    


<nav>
    <div class="nav-wrapper">
      <a routerLink='/home' class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink='/home'>home</a></li>
        <li><a routerLink='/pages'>pages all</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a routerLink='/home'>home</a></li>
        <li><a routerLink='/pages'>pages all</a></li>
      </ul>
    </div>
</nav>

